main {
    margin: 20px;


}

button {
    width: 150px;
    height: 80px;
    font-size: 20px;
    color: white;
    background: lightsalmon;
    border: none;
    border-radius: 10px;
    margin: auto;
    padding: auto;
}